body {
  background-color: black;
  color: #10df17;
  font-family: 'Verdana', sans-serif;
  text-align: center;
  margin: 2rem;
}

button {
  background-color: #1121d2;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 1rem;
}

button:hover {
  background-color: #2720e8;
}


